# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python build files
build/
dist/
*.egg-info/

# Large raw datasets
data/raw/

# MySQL exports
*.sql
*.dump